# Prerequisites
*.d
*.cmd

# Object files
*.o
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.a
*.la
*.lo

# Executables
*.out
*.hex
*.bin
*.stm32
map.txt

Makefile.deps
Module.symvers
modules.order
*.swp
*.su
tags
